.HelpSnippet {
  width: 70%;
  margin: 10px auto;
  border: 1px solid black;
  background-color: lightgreen;
  text-align: center;
}

.HelpSnippet-shower {
  font-size: 40px;
  font-weight: bolder;
  color: maroon;
  cursor: pointer;
  user-select: none;
}

.HelpSnippet-list {
  list-style-type: none;
}

code::selection {
  background-color: black;
  color: yellow;
}

.HelpSnippet-intro::selection,
.HelpSnippet-list::selection,
.HelpSnippet-item::selection {
  background-color: lightgray;
  color: maroon;
}
